<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/STIVE.CL.styles.css" asp-append-version="true"/>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
        <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent"aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
            <ul class="navbar-nav me-auto ms-auto d-flex w-75">
                <div class="navbar-left d-lg-flex justify-content-lg-end w-100">
                    <li class="nav-item align-content-end">
                        <a class="nav-link @(ViewContext.RouteData.Values["page"].ToString() == "/Game" ? "active" : "")" asp-area="" asp-page="/Game">Le jeu</a>
                    </li>
                    <li class="nav-item align-content-end">
                        <a class="nav-link @(ViewContext.RouteData.Values["page"].ToString() == "/Classement" ? "active" : "")" asp-area="" asp-page="/Classement">Classement</a>
                    </li>
                </div>
                <li class="nav-item align-items-start">
                    <a class="nav-link @(ViewContext.RouteData.Values["page"].ToString() == "/Index" ? "active" : "")" id="homebutton" asp-area="" asp-page="/Index">
                        <img src="../image/Logo.png" alt="Logo" class="logo" height="200">
                    </a>
                </li>
                <div class="navbar-right d-lg-flex justify-content-lg-between w-100">
                    <div class="navbar-right-left d-lg-flex justify-content-start">
                        <li class="nav-item align-content-end">
                            <a class="nav-link @(ViewContext.RouteData.Values["page"].ToString() == "/Shop" ? "active" : "")" asp-area="" asp-page="/Shop">Boutique</a>
                        </li>
                        <li class="nav-item align-content-end">
                            <a class="nav-link @(ViewContext.RouteData.Values["page"].ToString() == "/Admin" ? "active" : "")" asp-area="" asp-page="/Admin">Admin</a>
                        </li>
                    </div>
                    <div class="navbar-right-right justify-content-lg-end align-content-end">
                        <a class="btn btn-outline-light" asp-page="/Login">Connexion</a>s
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer class="border-top footer text-muted bg-dark">
    <div class="container">
        &copy; 2024 - Stive Potion Seller - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const logoItem = document.getElementById('homebutton');
        const originalLogoHTML = logoItem.innerHTML;
        const togglerText = 'Home';
        function updateLogo() {
            if (window.innerWidth < 992) {
                logoItem.innerHTML = togglerText;
                logoItem.classList.add("nav-link");
            } else {
                logoItem.innerHTML = originalLogoHTML;
                logoItem.classList.remove("nav-link");

            }
        }
        updateLogo();
        window.addEventListener('resize', updateLogo);
    });
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>