@page
@model STIVE.CL.Pages.AdminModel

@{
    ViewData["Title"] = "Admin";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <div class="image-container position-relative pt-5 pb-5">
        <img src="image/Table.png" class="img-fluid" alt="Livre" style="width: 100%;"/>
        <div class="position-absolute overlay-div" style="top: 12%; left: 6%; width: 87%; height: auto;">
            <!-- User Button -->
            <a href="?table=users" class="button button-small" title="Utilisateurs">
                <i class="fas fa-user"></i>
            </a>

            <!-- Role Button -->
            <a href="?table=roles" class="button button-small" title="Rôles">
                <i class="fas fa-users"></i>
            </a>

            <!-- GameData Button -->
            <a href="?table=gamedatas" class="button button-small" title="Données de jeu">
                <i class="fas fa-gamepad"></i>
            </a>

            <!-- Bonus Button -->
            <a href="?table=bonus" class="button button-small" title="Bonus">
                <i class="fas fa-gift"></i>
            </a>

            <!-- GameDataBonus Button -->
            @*<a href="?table=gamedatabonus" class="button button-small" title="Bonus des utilisateurs">
                <i class="fas fa-gift"></i>
            </a>*@

            <!-- Potion Button -->
            <a href="?table=potions" class="button button-small" title="Potions">
                <i class="fas fa-flask"></i>
            </a>

            <!-- GameDataPotion Button -->
            @*<a href="?table=gamedatapotions" class="button button-small" title="Potions des utilisateurs">
                <i class="fas fa-flask"></i>
            </a>*@

            <!-- Supplier Button -->
            <a href="?table=suppliers" class="button button-small" title="Fournisseurs">
                <i class="fas fa-truck"></i>
            </a>

            <!-- GameDataSupplier Button -->
            @*<a href="?table=gamedatasuppliers" class="button button-small" title="Fournisseurs des utilisateurs">
                <i class="fas fa-truck"></i>
            </a>*@

            <!-- Customer Button -->
            <a href="?table=customers" class="button button-small" title="Clients">
                <i class="fa-solid fa-circle-user"></i>
            </a>
        </div>
        <div class="position-absolute overlay-div" style="top: 22%; left: 6%; width: 87%; height: auto;">
            @if (Model.TableToRender == "users")
            { 
                <h2>Administration des utilisateurs</h2>
                <table class="table table-dark table-striped table-hover w-100">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Tél</th>
                        <th>Rôle</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in Model.Users)
                    {
                    var formId = $"delete-form-{user.UserId}";
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@string.Join(", ", user.Roles ?? new List<string>())</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a asp-page="Update/UserUpdate" asp-route-id="@user.UserId" title="Mettre à jour l'utilisateur" class="btn btn-dark me-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-page="Update/UserRoleUpdate" asp-route-id="@user.UserId" title="Mettre à jour le rôle de l'utilisateur" class="btn btn-dark me-2">
                                    <i class="fa-solid fa-crown"></i>
                                </a>
                                <form id="@formId" method="post" asp-page-handler="Delete">
                                    <input type="hidden" name="id" value="@user.UserId"/>
                                    <input type="hidden" name="type" value="user"/>
                                    <button type="button" class="btn btn-dark" onclick="confirmDelete('@formId')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            }
            else if (Model.TableToRender == "roles")
            {
                <h2>Administration des rôles</h2>
                <a asp-page="Add/AddRole" class="btn btn-dark mb-3">Créer un nouveau rôle</a>
                <table class="table table-dark table-striped table-hover w-100">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var role in Model.Roles)
                    {
                        var formId = $"delete-form-{role.RoleId}";
                        <tr>
                            <td>@role.RoleId</td>
                            <td>@role.RoleName</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a asp-page="Update/RoleUpdate" asp-route-id="@role.RoleId" title="Mettre à jour" class="btn btn-dark me-2">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <form id="@formId" method="post" asp-page-handler="Delete">
                                        <input type="hidden" name="id" value="@role.RoleId"/>
                                        <input type="hidden" name="type" value="role"/>
                                        <button type="button" class="btn btn-dark" onclick="confirmDelete('@formId')">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else if (Model.TableToRender == "gamedatas")
            {
                <h2>Administration des sauvegardes</h2>
                <a asp-page="Add/AddGameData" class="btn btn-dark mb-3">Créer une nouvelle sauvegarde</a>
                <table class="table table-dark table-striped table-hover w-100">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Gold</th>
                        <th>Nom Utilisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var gamedata in Model.GameDatas)
                    {
                        var formId = $"delete-form-{gamedata.GameDataId}";
                        <tr>
                            <td>@gamedata.GameDataId</td>
                            <td>@gamedata.Gold</td>
                            <td>@gamedata.UserId</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a asp-page="Update/GameDataUpdate" asp-route-id="@gamedata.GameDataId" title="Mettre à jour" class="btn btn-dark me-2">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <form id="@formId" method="post" asp-page-handler="Delete">
                                        <input type="hidden" name="id" value="@gamedata.GameDataId"/>
                                        <input type="hidden" name="type" value="gamedata"/>
                                        <button type="button" class="btn btn-dark" onclick="confirmDelete('@formId')">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else if (Model.TableToRender == "bonus")
            {
                <h2>Administration des bonus</h2>
                <a asp-page="Add/AddBonus" class="btn btn-dark mb-3">Créer un nouveau bonus</a>
                <table class="table table-dark table-striped table-hover w-100">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Durée</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var bonus in Model.Bonuses)
                    {
                    var formId = $"delete-form-{bonus.BonusId}";
                    <tr>
                        <td>@bonus.BonusId</td>
                        <td>@bonus.BonusName</td>
                        <td>@bonus.BonusDuration</td>
                        <td>@bonus.BonusPrice</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a asp-page="Update/BonusUpdate" asp-route-id="@bonus.BonusId" title="Mettre à jour" class="btn btn-dark me-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form id="@formId" method="post" asp-page-handler="Delete">
                                    <input type="hidden" name="id" value="@bonus.BonusId"/>
                                    <input type="hidden" name="type" value="bonus"/>
                                    <button type="button" class="btn btn-dark" onclick="confirmDelete('@formId')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            }
            else if (Model.TableToRender == "potions")
            {
                <h2>Administration des potions</h2>
                <a asp-page="Add/AddPotion" class="btn btn-dark mb-3">Créer une nouvelle potion</a>
                <table class="table table-dark table-striped table-hover w-100">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Route image</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var potion in Model.Potions)
                    {
                    var formId = $"delete-form-{potion.PotionId}";
                    <tr>
                        <td>@potion.PotionId</td>
                        <td>@potion.PotionName</td>
                        <td>@potion.PotionPrice</td>
                        <td>@potion.PotionPicture</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a asp-page="Update/PotionUpdate" asp-route-id="@potion.PotionId" title="Mettre à jour" class="btn btn-dark me-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form id="@formId" method="post" asp-page-handler="Delete">
                                    <input type="hidden" name="id" value="@potion.PotionId"/>
                                    <input type="hidden" name="type" value="potion"/>
                                    <button type="button" class="btn btn-dark" onclick="confirmDelete('@formId')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            }
            else if (Model.TableToRender == "suppliers")
            {
                <h2>Administration des fournisseurs</h2>
                <a asp-page="Add/AddSupplier" class="btn btn-dark mb-3">Créer un nouveau fournisseur</a>
                <table class="table table-dark table-striped table-hover w-100">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Potion Id</th>
                        <th>Route image</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var supplier in Model.Suppliers)
                    {
                    var formId = $"delete-form-{supplier.SupplierId}";
                    <tr>
                        <td>@supplier.SupplierId</td>
                        <td>@supplier.SupplierName</td>
                        <td>@supplier.PotionId</td>
                        <td>@supplier.SupplierPicture</td>
                        <td>    
                            <div class="d-flex justify-content-center">
                                <a asp-page="Update/SupplierUpdate" asp-route-id="@supplier.SupplierId" title="Mettre à jour" class="btn btn-dark me-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form id="@formId" method="post" asp-page-handler="Delete">
                                    <input type="hidden" name="id" value="@supplier.SupplierId"/>
                                    <input type="hidden" name="type" value="supplier"/>
                                    <button type="button" class="btn btn-dark" onclick="confirmDelete('@formId')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            }
            else if (Model.TableToRender == "customers")
            {
                <h2>Administration des clients</h2>
                <a asp-page="Add/AddCustomer" class="btn btn-dark mb-3">Créer un nouveau client</a>
                <table class="table table-dark table-striped table-hover w-100">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Route image</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var customer in Model.Customers)
                    {
                    var formId = $"delete-form-{customer.CustomerId}";
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>@customer.CustomerName</td>
                        <td>@customer.CustomerPicture</td>
                        <td>    
                            <div class="d-flex justify-content-center">
                                <a asp-page="Update/CustomerUpdate" asp-route-id="@customer.CustomerId" title="Mettre à jour" class="btn btn-dark me-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form id="@formId" method="post" asp-page-handler="Delete">
                                    <input type="hidden" name="id" value="@customer.CustomerId"/>
                                    <input type="hidden" name="type" value="customer"/>
                                    <button type="button" class="btn btn-dark" onclick="confirmDelete('@formId')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<script>
    function confirmDelete(formId) {
        if (confirm("Voulez-vous vraiment supprimer cet élément ?")) {
            document.getElementById(formId).submit();
        }
    }
</script>